<h1>Hello World!</h1>
<div id="hello_world"></div>
<button id="click_me_button">Click me</button>
<ul id="hello_world_list">
  <li>Hello World start</li>
</ul>

<script type="text/javascript">

  const clickMeButtonEl = document.getElementById("click_me_button");
  const helloWorldListEl = document.getElementById("hello_world_list");

  var addHelloWorldToList = function (event){
    var itemEl = document.createElement("li");
    itemEl.innerHTML = "Hello World!";
    helloWorldListEl.appendChild(itemEl);
  }

  clickMeButtonEl.addEventListener("click", addHelloWorldToList);

</script>

<% quote = Quote.first %> 
<% if quote.present? %> 
  <p>"<%= quote.content %>" -<%= quote.author_name %></p>
<% end %> 

<div data-controller="hello">
  <button data-action="hello#addHelloWorld">Click me</button>
  <ul data-target="hello.list">
    <li>Hello World Stimulus.js Start</li>
  </ul>
</div>

<h2>Rails Quotes</h2>

<%= render partial: 'quotes_form', locals: {prefix: nil} %>

<ul id="quotes_list">
  <%= render partial: 'quote', collection: @quotes, locals: {prefix: nil} %> 
</ul>  

<%= react_component 'ReactQuotesApp' %>

<%= turbo_stream_from 'hello_turbo' %>

<turbo-frame id="turbo_quotes" src="/turbo-quotes">
  <p>Loading...</p>
</turbo-frame>

